.menu_container {
  display: flex;
  align-items: center;
}
.MuiToolbar-regular {
  justify-content: flex-end;
  justify-content: space-between;
}
.menu_container .link {
  background-color: white;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 10px;
}
